/*reset*/

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


html,body{padding:0px;margin:0px;height: 100%;}
li{list-style-type: none}
kbrShop{font-size:14px;letter-spacing: 0.2px;display: flex;
  flex-direction: column;
  height: 100%;}
kbrShop ul, kbrShop p{margin:0px;padding: 0px;}
kbrShop .center{text-align:center;}


kbrShop h4{font-size: 100%;margin-top:0px;margin-bottom:17px;padding:0px;}
kbrShop h5{font-size: 100%;margin:0px 0px 10px;font-weight:medium;}


kbrShop a.btn{text-decoration:none;text-align:center;display: block;background-color: rgb(184, 134, 185);color:white;border:none;border-radius: 5px;padding:10px 0px;}
kbrShop a.btn.wide{width:100%;margin-bottom:10px;}
kbrShop a.btn.reverse{color: rgb(184, 134, 185);background-color:white}

kbrShop{font-family: -apple-system, BlinkMacSystemFont, sans-serif;color: rgb(51,51,51)}
kbrShop>header {
  position:relative;
  white-space: nowrap;
  display:block;
  background-color: rgb(237, 238, 240);
  font-size: 16px;
  height: 44px;
}
kbrShop>header p {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 90%;
  text-align: center;
  top: 50%;
  margin-top: -0.625em;
}

kbrShop>header>a.forvard,kbrShop>header>a.back{position: absolute;top:9px;display: block;height: 25px;width:25px;background-color: red}
kbrShop>header>a.forvard{right:5px;}
kbrShop>header>a.back{left:5px;background: url(./img/icn_back.png) center no-repeat; }
kbrShop>footer{display: block;flex: 0 0 auto;padding:20px 24px;}
kbrShop>footer>a{line-height:20px;font-size: 12px;color: inherit;text-decoration: none;text-align: center;display: block;padding:19px 0px;}
kbrShop>footer>p{text-align: center;margin-bottom: 10px;font-size: 16px;}

kbrShop>content{
  display: block;flex: 1 0 auto;
}
kbrShop>content.bottom-space {
  margin-bottom: 75px;  
}

kbrShop>content>promo{display:block;text-align: center; text-transform: uppercase;padding:16px 0px;border-bottom:1px solid rgba(0, 0, 0, 0.05);}
kbrShop ul.catalog>li{vertical-align:top;height:256px;width:50%;display: inline-block;border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
kbrShop ul.catalog>li:nth-child(odd){box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05)}
kbrShop ul.catalog>li>a{color: inherit;text-decoration: none;text-align: center}
kbrShop ul.catalog>li>a>div{height:150px;text-align: center;margin-bottom:20px;margin-top:2px;display: flex;justify-content: center; align-items: center;}

kbrShop price{text-align:center;letter-spacing: 1px;display: block;font-size:16px;font-weight: bold}
kbrShop price:after{
  content:"";
  display: block;
  clear: both;  
}

kbrShop item div.size{position: relative;}
kbrShop item div.size>a{text-decoration:none;position: absolute;right:32px;top:12px;color:rgb(143, 142, 148);font-size:17px;}
kbrShop item div.size>a:after{content:"";display: block;position: absolute;top:-2px;right:-27px;opacity: 0.4; display: block;height: 25px;width:25px;background: url(./img/icn_back.png) center no-repeat;transform: rotate(180deg);}
kbrShop item p{line-height: 20px}

kbrShop ul.list>li, kbrShop ul.menu>li{border-bottom: 1px solid rgba(0, 0, 0, 0.05);letter-spacing: -0.2px;font-size: 16px;}
kbrShop ul.list>li>a, kbrShop ul.menu>li>a{color: inherit;text-decoration: none;;display: block;padding:12.5px 0px 12.5px 24px}
kbrShop ul.list>li>a.active{background-color: rgba(184, 134, 185, 0.1)}

kbrShop div.reviewLinks{position: relative;}
kbrShop div.reviewLinks a{color:rgb(184, 134, 185);}
kbrShop div.reviewLinks a:last-of-type{position: absolute;top:11px;right:25px;}

kbrShop ul.menu>li>a{color: rgb(184, 134, 185);position: relative}
kbrShop ul.menu>li>a>status{background-size:60%;top:8px;right:20px;display:block;position: absolute;width:24px;height:24px;background: url("./img/arrow_pink.png") center no-repeat}
kbrShop ul.menu>li>a>status {    
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
  transition: transform 0.5s;  
}



kbrShop ul.menu>li.active>a>status.opened {  
  transition: transform 0.5s;  
  -moz-transform: rotate(360deg); /* Для Firefox */
  -ms-transform: rotate(360deg); /* Для IE */
  -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(360deg); /* Для Opera */
  transform: rotate(360deg);
}

kbrShop ul.menu>li>ul,
kbrShop ul.menu>li>.review-block
{margin: 0px 24px 16px;display:none;}
kbrShop ul.menu>li.active>ul,
kbrShop ul.menu>li.active>.review-block
{display: block;}
kbrShop ul.menu>li>ul>li{padding:5.5px 0px;font-size:15px;}


kbrShop ul.menu dt{display:inline-block;margin-right: 5px}
kbrShop ul.menu dt:after{content: ":"}
kbrShop ul.menu dd{display:inline-block;margin-left:0px;}

kbrShop>content>slider{display:block;position:relative;}
kbrShop>content>slider.marged{margin-bottom:8px;}
kbrShop>content>slider>like{display:block;position: absolute;width:24px;height:24px;top:20px;right:20px;background: url("./img/like.png") center no-repeat}
kbrShop>content>slider>like.full{background: url("./img/likeFull.png") center no-repeat}

/* Search */

kbrShop>content>.search{
  position: relative;
  width: 140px;
  margin: 0 auto;
}

kbrShop>content>.search.wide{
  width: 100%;
}

kbrShop>content>.search>input{font-size:14px;padding:15px 20px 15px 50px;width:100%;border:none;border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
kbrShop>content>.search .search-icon{
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(img/icon_search.svg);
  background-size: contain;
  top: 13px;
  left: 20px;
  content: '';
  display: block;
}

kbrShop>content>.search.wide>.cancel-btn{
  display: block;
} 

kbrShop>content>.search>.cancel-btn{
  position: absolute;
  cursor: pointer;
  height: 1em;
  color: #c7a1c8;
  display: block;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  font-weight: 500;
  display: none;
}
kbrShop>content>.search>.found-items{
  position: absolute;
  width: 60%;
  background-color: #fff;
  padding-left: 30px;
  left: 0;
  display: none;
}
kbrShop>content>.search>.found-items>li{
  display: none;
  color: #c7a1c8;
  padding: 15px 20px;
  cursor: pointer;
}



kbrShop .bottom-delimetr{border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
kbrShop div.padded {
  padding:24px;
}

kbrShop div.add-to-cart-btn {
  padding:5px 24px 24px 24px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

kbrShop div.padded.small{padding:12px 24px ;}
kbrShop div.padded.short{padding-top:0px;}
kbrShop button{font-size:17px;background-color: rgb(184, 134, 185);color:white;width:100%;border:none;border-radius: 5px;padding:10px 0px;}
kbrShop p{line-height: 17px}


kbrShop profileButtons{border:1px solid rgb(184, 134, 185);border-radius: 5px;display: block}
kbrShop profileButtons>a{display:inline-block;width:50%;text-align:center;padding:5px 0px;text-decoration: none}
kbrShop profileButtons>a:nth-child(1){color:white;background-color: rgb(184, 134, 185);border-radius: 3px 0px 0px 3px}
kbrShop profileButtons>a:nth-child(2){background-color:white;color: rgb(184, 134, 185);border-radius: 0px 5px 5px 0px}
kbrShop a.addAddress{
  display: block;
  background: url("./img/addadress.png")  right no-repeat;
  color:rgb(184, 134, 185);
  text-decoration: none;
  padding:12px 24px;
  font-size: 17px;
  background-size: 28px;
}


kbrShop dl.address{margin-top:0px;}
kbrShop dl.address>dt{margin-bottom:10px;}
kbrShop dl.address>dd{margin-left:0px;margin-bottom:18px;}
kbrShop dl.address>dd>input, kbrShop dl.address>dd>textarea{font-size:14px;border:1px solid rgba(184, 134, 185, 0.5);border-radius: 5px;box-sizing: border-box;padding:12px;width:100%;}
kbrShop dl.address>dd>input:placeholder-shown{border-color: rgba(164, 170, 179, 0.5)}
kbrShop dl.address>dd>textarea:placeholder-shown{border-color: rgba(164, 170, 179, 0.5)}

kbrShop div.order{position: relative;padding-top:16px;padding-bottom:16px;}
kbrShop div.order p b{ 
  margin-right: 5px; 
}

kbrShop .profile .order p .big-text{ 
  font-size: 18px; 
}

kbrShop .profile .order p.price { 
   text-align: right;
   margin-top: -22px;
}

kbrShop .profile .order span.shop { 
   font-weight: bold;
}

kbrShop .profile .order p { 
   margin-bottom: 5px;
}

kbrShop .profile profileButtons>a:nth-child(1) {
    background-color: white;
    color: rgb(184, 134, 185);
    border-radius: 5px 0px 0px 5px;
}

kbrShop .profile profileButtons>a:nth-child(2) {
  color: white;
  background-color: rgb(184, 134, 185);
  border-radius: 0px 3px 3px 0px;
}

kbrShop .orders-history div {
  position: relative;
}
kbrShop div.order status,
kbrShop .orders-history status {
  font-size: 12px;
  position: absolute;
  right:24px;
  top:14px;
}
kbrShop .orders-history status {
  font-size: 12px;
  position: absolute;
  right:24px;
  top:0;
}
kbrShop div.order status.ok,
kbrShop .orders-history status.ok {
  color:rgb(92, 188, 72);
}
kbrShop div.order status.notOk,
kbrShop .orders-history status.notOk {
  color:red;

}
kbrShop div.order date{display:block;font-size: 12px;margin-bottom:5px;}

kbrShop a.addNewAddr{

  display:block;
  margin:30px auto;
  color:rgb(184, 134, 185);
  text-decoration: none;
  background: url(./img/addadress.png) right no-repeat;
  padding: 12px 24px;
  font-size: 16px;
  background-size: 28px;
  margin: 10px 22px;
  min-width: 250px;
}

kbrShop basket{display: block;}

kbrShop  .delivery-wrap {
  height: 32px;
  background-color: rgb(251, 209, 94);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
kbrShop  .delivery-wrap div{
  display: inline-flex;
  font-size: 11px;
}

kbrShop  .delivery-wrap div:first-child {
  padding-left: 20px;
}

kbrShop  .delivery-wrap div:last-child {
  padding-right: 20px;
}

kbrShop basket>item{display: block;position: relative;padding:17px 24px;}
kbrShop basket>item .img-wrap{
  float:left;
  margin-right:17px;
  height:104px;
  width:104px;
   text-align: center;
   margin-bottom:20px;
   margin-top:2px;
   display: flex;
   justify-content: center; 
   align-items: center;
   overflow: hidden;
}
kbrShop basket>item>a.remove{
  width:16px;
  height:16px;
  position: absolute;
  right:24px;
  top:20px;
  background: url(img/icon-close.png) center no-repeat;
  background-size: cover;
}
kbrShop basket>item>qnt{
  display: block;
  color: rgb(64, 70, 84);
}
kbrShop basket>item>qnt .minus,
kbrShop basket>item>qnt .plus{
 color: rgb(184, 134, 185);
 font-weight: bold;
}

kbrShop basket>item>qnt .minus,
kbrShop basket>item>qnt .quant {
  margin-right: 5px;
}

kbrShop footer .summary {
  font-size: 16px;
  font-weight: bold;
}

kbrShop basket>item>name{    margin-right: 20px;display: block;font-size: 16px;margin-bottom:5px;}
kbrShop basket>item>params{display: block;color: rgb(147, 153, 164);font-size: 12px;margin-bottom:10px;}
kbrShop basket>item>price{font-size:15px;display: block; text-align: right; margin-top: -16px;}
/*kbrShop basket>summary{display: block;padding:18px 24px;}
kbrShop basket>summary>p{    margin-bottom: 7px;}
kbrShop basket>summary>h4{font-size: 17px}*/

kbrShop chooser{display: block;margin-top: 20px}
kbrShop chooser>label{display: block;padding:13px 24px 17px 58px;position: relative}
kbrShop chooser>label:not(:last-of-type){border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
kbrShop chooser>label>input[type='radio']{position: absolute;top:9px;left:16px;width:20px;height:20px;}
kbrShop chooser>label>p{font-size: 16px;margin-bottom:8px;}
kbrShop chooser>label>span{display:block;color:rgb(147, 153, 164);letter-spacing: 0.1px;font-size: 12px}
kbrShop chooser>label>label{margin-top:20px;display: block;font-size:14px;}
kbrShop chooser>label>label>p{color:rgb(51, 51, 51);margin-bottom:5px;opacity: 0.5}
kbrShop chooser>label>label>.input-wrap {
  position: relative;
}
kbrShop chooser>label>label>.input-wrap>input{font-size:14px;border:2px solid rgba(164, 170, 179, 0.5);border-radius: 5px;box-sizing: border-box;padding:12px;width:100%;}
kbrShop chooser>label>label>.input-wrap>.error-title{
  position: absolute;
  right: 0;
  color: red;
  display: none;
  font-size: 12px;
  padding-top: 10px;

}

kbrShop chooser>label>label>.input-wrap>input.error {
  border: 1px solid red;
}

kbrShop content>adv{background-color: rgb(251, 209, 94);text-align: center;display: block;padding:10px 0px;font-size:11px;}

kbrShop content .chkb-wrap {
  display: flex;
  margin-top: 20px;
}

kbrShop content .chkb-wrap label,
kbrShop content .chkb-wrap .chkb-text
{
  display: inline-block;
  font-size: 12px;
  color: rgb(147, 153, 164);
}

kbrShop content .chkb-wrap label {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 15px 17px 20px;
  background: url(img/chkbox-bg-empty.png) center no-repeat;
  background-size: cover;
}

kbrShop content .chkb-wrap .checkbox:checked + label {
  background: url(img/chkbox-bg.png) center no-repeat;
  background-size: cover;

}

kbrShop content .sort-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: rgb(184, 134, 185);
  font-size: 16px;
  margin: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

kbrShop content .sort {
  background: url(./img/sort_arrows.png) right no-repeat;
  background-size: 24px;
  display: inline-flex;
  padding-right: 35px;
}

kbrShop content .fav-row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

kbrShop content .fav-row .item-cont {
  width: 50%;
  min-height: 256px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
}

kbrShop content .fav-row .item-cont:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
kbrShop content .fav-row .item {
  width: 186px;
}

kbrShop content .fav-row .item-cont img{
  width: 138px;
}

kbrShop content .fav-row .item-cont .price {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

kbrShop content .fav-row .item-cont .desc {
  text-align: center;
}

kbrShop content .fav-row .item-cont .item .img-cont {
  display: flex;
  justify-content: center;
}

kbrShop content .user-info,
kbrShop content .del-text {
  font-size: 12px;
}
kbrShop content .user-info p:last-child {
  margin-bottom: 8px;
}

kbrShop content.confirm .padded {
  padding-bottom: 8px;
  font-size: 12px;
}

kbrShop content.confirm .del-text {
  padding: 10px 24px 15px 24px;
}

kbrShop content.confirm h5 {
  font-size: 16px;
}

kbrShop content.confirm basket name {
  font-size: 16px;
}

kbrShop content.confirm basket params {
  margin-bottom: 20px;
} 

kbrShop content.confirm basket item {
  padding-bottom: 0;
}

kbrShop content.confirm basket item qnt{
  font-size: 11px;
}

kbrShop content.confirm basket item::after {
  display: block;
  content: '';
  clear: both;
} 

kbrShop content.confirm basket summary {
  margin-top: 30px;
  text-align: center;
}

kbrShop content.confirm basket summary h4 {
  margin-top: 16px;
  text-align: center;
  font-size: 15px;
}

kbrShop content.confirm basket summary p {
  margin-bottom: 5px;
}

kbrShop content.confirm basket>item>div {
  margin-bottom: 15px;
}

kbrShop content.confirm + footer a {
  font-size: 14px;
}

kbrShop content.order-end h2 {
  font-size: 21px;
  color: rgb(184, 134, 185);
  text-align: center;
  font-weight: normal;
  margin-top: 24px;
}

kbrShop content.order-end p{
  font-size: 15px;
}

kbrShop content.order-end p span.order-num{
  font-size: 17px;
  font-weight: bold;
}

kbrShop content.order-end .padded{
  padding-bottom: 11px;
  padding-left: 16px;
}
kbrShop content.order-end .order-info p{
  margin-bottom: 8px;
}

kbrShop content.profile-profile p {
  font-size: 16px;
}

kbrShop content.profile-profile h3 {
  font-size: 16px;
}

kbrShop content.profile-profile .addresses {
  padding-bottom: 14px;
}

kbrShop content.profile-profile .addresses h3 {
  background: url(img/address-edit-btn.png) right no-repeat;
  background-size: 24px;
  margin-right: 16px;
  margin-top: 13px;
}

kbrShop content.profile-profile .addresses p{
  font-size: 12px;
}

kbrShop content.profile-profile .main-info {
  padding-bottom: 12px;
}

kbrShop content.profile-profile a.addAddress{
  margin-right: 41px;
  padding-left: 10px;
}

kbrShop content.profile-profile .add-address {
  padding-left: 22px;
}

kbrShop content.orders-history .pink{
  color: rgb(184, 134, 185);
}

kbrShop content.orders-history .general .pink{
  color: rgb(184, 134, 185);
}

kbrShop content.orders-history .general-wrap {
  padding: 17px 16px 8px 16px;
}

kbrShop content.orders-history .general p{
  font-size: 14px;
  margin-bottom: 4px;
}


kbrShop content.orders-history .general .order-num{
  font-size: 18px;
}

kbrShop content.orders-history .status {
  margin-bottom: 8px;
}

kbrShop content.orders-history .user-info {
  padding: 8px 16px;
}
kbrShop content.orders-history .user-info p:last-child{
  margin-bottom: 0;
}

kbrShop content.reviews .review .date,
kbrShop .review-block .review .date {
  font-style: italic;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.54);
  display: inline-block;
}

kbrShop .review-block .review .date {
  margin-top: 13px;
  line-height: 1;
}

kbrShop content.reviews .review .rate,
kbrShop .review-block .review .rate {
  float: right;
}

kbrShop content.reviews .review .name, 
kbrShop .review-block .review .name {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 600;
  line-height: 1;
}

kbrShop content.reviews .review .detail,
kbrShop .review-block .review .detail {
  font-size: 15px;
}

kbrShop .review-block .review .detail {
  margin-bottom: 5px;
}

kbrShop content.reviews .padded 
{
  padding-bottom: 13px;
  padding-top: 13px;
}

kbrShop content.reviews  .rate .star,
kbrShop content.reviews  .rate .star-empty, 
kbrShop .review-block .review .rate .star,
kbrShop .review-block .review .rate .star-empty {
  background: url(img/rate-star.png) center no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px;
}

kbrShop content.reviews  .rate .star-empty,
kbrShop .review-block .review .rate .star-empty {
  background: url(img/rate-star-empty.png) center no-repeat;
  background-size: 16px;
}

kbrShop .review-block .review .detail {
  margin-bottom: 11px;
}

kbrShop .review-block .reviewLinks {
  padding-top: 15px !important;
}

kbrShop content.basket basket item div {
  margin-bottom: 0;
}

kbrShop content.basket basket item {
  padding: 16px 16px 0 16px;
}

kbrShop content.address-add-page .address dt,
kbrShop content.delivery-data .address dt {
  font-weight: bold;
}

kbrShop content.reviews + footer a {
  font-size: 17px;
}

kbrShop content.add-review {
  padding: 14px 16px;
}

kbrShop content.add-review h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

kbrShop content.add-review .rate {
  margin-top: 16px;
  padding-bottom: 13px;
 
}

kbrShop content.add-review .rate .star,
kbrShop content.add-review .rate .star-empty {
  width: 24px;
  height: 24px;
  background-size: 24px;
}

kbrShop content.add-review .label {
  margin-top: 13px;
  font-size: 16px;
}

kbrShop content.add-review input {
 padding: 8px 0;
 border: none;
 font-size: 16px;
 width: 100%;
 margin-right: 32px;
 outline: none;
 color: rgba( 51, 51, 51, 0.54);
 }

 kbrShop content.add-review input::-webkit-input-placeholder {color:rgba( 51, 51, 51, 0.54);}
kbrShop content.add-review input::-moz-placeholder          {color:rgba( 51, 51, 51, 0.54);}/* Firefox 19+ */
kbrShop content.add-review input:-moz-placeholder           {color:rgba( 51, 51, 51, 0.54);}/* Firefox 18- */
kbrShop content.add-review input:-ms-input-placeholder      {color:rgba( 51, 51, 51, 0.54);}