/*reset*/
html,body{padding:0px;margin:0px;}
li{list-style-type: none}
kbrShop{font-size:14px;letter-spacing: 0.2px;}
kbrShop ul, kbrShop p{margin:0px;padding: 0px;}



kbrShop h4{font-size: 100%;margin-top:0px;margin-bottom:17px;padding:0px;}
kbrShop h5{font-size: 100%;margin:0px 0px 10px;font-weight:medium;}


kbrShop a.btn{text-decoration:none;text-align:center;display: block;background-color: rgb(184, 134, 185);color:white;border:none;border-radius: 5px;padding:10px 0px;}
kbrShop a.btn.wide{width:100%;margin-bottom:10px;}
kbrShop a.btn.reverse{color: rgb(184, 134, 185);background-color:white}

kbrShop{font-family: -apple-system, BlinkMacSystemFont, sans-serif;color: rgb(51,51,51)}
kbrShop>header{position:relative;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;text-align: center; padding:14px 32px;display:block;background-color: rgb(237, 238, 240);font-size: 16px}
kbrShop>header>a.forvard,kbrShop>header>a.back{position: absolute;top:9px;display: block;height: 25px;width:25px;background-color: red}
kbrShop>header>a.forvard{right:5px;}
kbrShop>header>a.back{left:5px;background: url(./img/icn_back.png) center no-repeat; }
kbrShop>footer{display: block;}
kbrShop>footer>a{line-height:20px;font-size: 12px;color: inherit;text-decoration: none;text-align: center;display: block;padding:19px 0px;}

kbrShop>content{display: block}
kbrShop>content>promo{display:block;text-align: center; text-transform: uppercase;padding:16px 0px;border-bottom:1px solid rgba(0, 0, 0, 0.05);}
kbrShop ul.catalog>li{vertical-align:top;height:256px;width:50%;display: inline-block;border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
kbrShop ul.catalog>li:nth-child(odd){box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05)}
kbrShop ul.catalog>li>a{color: inherit;text-decoration: none;text-align: center}
kbrShop ul.catalog>li>a>div{height:150px;text-align: center;margin-bottom:20px;display: flex;justify-content: center; align-items: center;}

kbrShop price{text-align:center;letter-spacing: 1px;display: block;margin-bottom:8px;font-size:16px;font-weight: bold}
kbrShop price:after{content:" руб.";}

kbrShop .item>price{font-size: 18px;margin-bottom: -8px;}
kbrShop .item p{line-height: 20px}

kbrShop ul.list>li, kbrShop ul.menu>li{border-bottom: 1px solid rgba(0, 0, 0, 0.05);letter-spacing: -0.2px;font-size: 16px;}
kbrShop ul.list>li>a, kbrShop ul.menu>li>a{color: inherit;text-decoration: none;;display: block;padding:12.5px 0px 12.5px 24px}
kbrShop ul.list>li>a.active{background-color: rgba(184, 134, 185, 0.1)}


kbrShop ul.menu>li>a{color: rgb(184, 134, 185);position: relative}
kbrShop ul.menu>li>a>status{background-size:60%;top:8px;right:20px;display:block;position: absolute;width:24px;height:24px;background: url("./img/arrow_pink.png") center no-repeat}
kbrShop ul.menu>li.active>a>status{    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);}

kbrShop ul.menu>li>ul{margin: 0px 24px 16px;display:none;}
kbrShop ul.menu>li.active>ul{display: block}
kbrShop ul.menu>li>ul>li{padding:5.5px 0px;font-size:15px;}


kbrShop ul.menu dt{display:inline-block;margin-right: 5px}
kbrShop ul.menu dt:after{content: ":"}
kbrShop ul.menu dd{display:inline-block;margin-left:0px;}

kbrShop>content>slider{display:block;position:relative;}
kbrShop>content>slider.marged{margin-bottom:8px;}
kbrShop>content>slider>like{display:block;position: absolute;width:24px;height:24px;top:20px;right:20px;background: url("./img/like.png") center no-repeat}
kbrShop>content>slider>like.full{background: url("./img/likeFull.png") center no-repeat}

kbrShop>content>input.search{font-size:14px;text-align:center;padding:13px 0px;width:100%;border:none;border-bottom: 1px solid rgba(0, 0, 0, 0.05);}

kbrShop .bottom-delimetr{border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
kbrShop div.padded{padding:24px;}
kbrShop div.padded.short{padding-top:0px;}
kbrShop button{font-size:17px;background-color: rgb(184, 134, 185);color:white;width:100%;border:none;border-radius: 5px;padding:10px 0px;}
kbrShop p{line-height: 17px}


kbrShop profileButtons{border:1px solid rgb(184, 134, 185);border-radius: 5px;display: block}
kbrShop profileButtons>a{display:inline-block;width:50%;text-align:center;padding:5px 0px;text-decoration: none}
kbrShop profileButtons>a:nth-child(1){color:white;background-color: rgb(184, 134, 185);border-radius: 3px 0px 0px 3px}
kbrShop profileButtons>a:nth-child(2){background-color:white;color: rgb(184, 134, 185);border-radius: 0px 5px 5px 0px}
kbrShop a.addAddress{display: block;margin:30px auto 0px;background: url("./img/addadress.png") top center no-repeat;color:rgb(184, 134, 185);text-decoration: none;width:140px; padding-top:75px;text-align:center;}


kbrShop dl.address{margin-top:0px;}
kbrShop dl.address>dt{margin-bottom:10px;}
kbrShop dl.address>dd{margin-left:0px;margin-bottom:18px;}
kbrShop dl.address>dd>input{font-size:14px;border:2px solid rgba(184, 134, 185, 0.5);border-radius: 5px;box-sizing: border-box;padding:12px;width:100%;}
kbrShop dl.address>dd>input:placeholder-shown{border-color: rgba(164, 170, 179, 0.5)}